// Viewport widths
$mobile-sm-width: 576px;
$mobile-md-width: 768px;
$tablet-width: 992px;
$laptop-width: 1200px;

// Transition overwrites:

// $transition-collapse: transform .35s 0s;
$app-sidebar-width: 0px;

// Text-color:
$text-color: rgba(74,74,74,0.25);