// Viewport widths
$mobile-sm-width: 576px;
$mobile-md-width: 768px;
$tablet-width: 992px;
$laptop-width: 1200px;

// Name List Selection Themes:
$primary-theme-color: #fff;
$secondary-theme-color: #343a40;
$shade-bg-color: #d2d2d2;
$blue-color: #007bff;

// Transition overwrites:

// $transition-collapse: transform .35s 0s;
$app-sidebar-width: 0px;

// Text-color:
$text-color: rgba(74,74,74,0.25);