@import "variables.scss";

// Custom Bootstrap SCSS is prompted below. {main.css folder link follows the bootstrap CDN}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    // overflow-x: hidden;
}
// Navbar positioning is adequate: MOBILE
html,
body {
    background: $shade-bg-color;
}
.form-inline .form-control {
    width: auto;
}

.navbar {
    padding: 0;
}
.navbar-collapse {
    padding: 1rem 0rem;
}
.form-inline {
    margin: 0 1rem;
}
.navbar-toggler,
.nav-item {
    margin: 0 .5rem;
    // height: 40px;
    align-self: center;
}
.nav-item {
    width: 96vw;
}
.nav-item {
    align-self: start;
    background-color: inherit;
}
.nav-general {
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: 50px;
}
.navbar-nav {
    width: 16rem;
}
.dropdown-item {
    font-size: 1.3rem;
    padding: .25rem .5rem;
    transition: all 0.3s 0s;
}
.dropdown-item h6 {
    font-size: 1.3rem;
}
.dropdown-item:hover {
    transition: all 0.3s 0s;
}
.dropdown-item.selected-item {
    color: $primary-theme-color;
    background: $secondary-theme-color;
}
.dropdown-item:active {
    background: #6d757d
}
.dropdown-item.active {
    background: $secondary-theme-color;
}
input.dropdown-input:active {
    background: none;
}
// Google Maps API:
/* Set the size of the div element that contains the map */
#map {
    margin: 10px 0px;
    height: 400px;
    width: 100%;
}
.lists-header {
    display: flex; 
    align-items: center; 
    justify-content: space-between;
}
.lists-header h6 {
    margin: 5px 0;
}
.fa-plus-square {
    // color: #0081ff;
}
.fa-pen {
    color: #0081ff;
    transition: all 0.4s 0s;
}
.fa-pen:hover {
    color: #28a745;
    transition: all 0.4s 0s;
}
.fa-ban {
    color: #007bff;
    transition: all 0.4s 0s;
}
.fa-ban:hover {
    color: red;
    transition: all 0.4s 0s;
}
.pen-link {
    padding: 1px 5px;
    transition: all 1s 0s ease-in;
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.4s 0s ease-in;
    // box-shadow: inset 0px 0px 0px 1rem #fff;
    // Note to self: First box-shadow layer will NEVER TRANSITION.
    // Hence it is more ideal to use the second box-shadow layer to appear. [Always goes inside->out]
}
.pen-link:hover {
    transition: all 0.4s 0s ease-out;
    // box-shadow: inset 0px 0px 0px 1rem #d2d2d2, 0 0 0 1px #d2d2d2;
    color: #28a745;
}
.ban-link {
    padding: 1px 5px;
    transition: all 1s 0s ease-in;
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.4s 0s ease-in;
    // box-shadow: inset 0px 0px 0px 1rem #fff;
    // Note to self: First box-shadow layer will NEVER TRANSITION.
    // Hence it is more ideal to use the second box-shadow layer to appear. [Always goes inside->out]
}
.ban-link:hover {
    transition: all 0.4s 0s ease-out;
    // box-shadow: inset 0px 0px 0px 1rem #d2d2d2, 0 0 0 1px #d2d2d2;
}
.nameListItem {
    display: flex;
    justify-content: space-between;
}
.fa-trash-alt {
    display: none;
    padding: 5px 6px;
    align-self: center;
    cursor: pointer;
    transition: all 0.4s 0s;
    border-radius: 50%;
    // box-shadow: inset 0px 0px 0px 1rem inherit;
    color: #007bff;
}
.fa-trash-alt.parent-hover {
    color: #007bff;
}
.fa-trash-alt.parent-hover:hover {
    transition: all 0.4s 0s;
    // box-shadow: inset 0px 0px 0px 1rem #d2d2d2, inset 0px 0px 0px 1px #d2d2d2;
    color: red;
}
@media screen and (max-width: 400px) {
    .form-inline {
        flex-flow: row nowrap;
        justify-content: flex-end;
    }
    .form-inline .form-control {
        width: 100%;
    }
    .btn-outline-success {
        margin: 0 0;
    }
}
@media screen and (max-width: 576px) {
    .navbar-nav {
        width: 100vw;
    }
}
@media screen and (min-width: 992px) {
    .navbar-collapse {
        justify-content: flex-end;
        height: 50px;
    }
    .navbar-nav {
        height: inherit;
    }
    .nav-item {
        width: auto;
    }
}

.task-location {
    z-index: 1000;
}

// Custom JS stylesheets:
.hide {
    display: none;
}
.dropdown-menu.show {
    display: block;
}
.fa-trash-alt.show {
    display: block;
    align-self: center;
}
.dropdown-item.set-text-red {
    color: red;
}

// Main Section:
.list-settings {
    display: flex;
    align-items: center;
}
.disp-type {
    border-radius: 10px;
}
.disp-type:hover {
    box-shadow: inset 0 0 0 0 #6f6f6f, 0 0 1rem 0.25rem #a4a4a4;
}
.card-order-settings {
    display: flex;
    justify-content: center;
    align-items: center;

    margin: 0 1rem;
    border-radius: 10px;
    color: $secondary-theme-color;
    background: $primary-theme-color;
}
.fa-bars {
    padding: .375rem .75rem;
    margin: 0;
    cursor: pointer;
    border-radius: 0px 10px 10px 0px;

    transition: all 1s 0s;
}
// Change via actual photoshop
.fa-bars:first-child {
    padding: 0.5rem 0.625rem;
    transform: rotate(90deg);
    border-radius: 0px 0px 10px 10px;
}
.fa-bars:hover {
    box-shadow: inset 0 0 0 0 #a4a4a4, 0 0 1rem 0.25rem #a4a4a4;
}
.list-organization-section {
    margin: 2rem 3rem;
    display: flex;
    justify-content: space-between;
    text-align: center;
}
.sample-schedule {
    margin: 1rem 2rem;
}
.card-deck {
    margin: 0 auto;
    // overflow-x: auto;
    // overflow-y: visible;
    // white-space: nowrap;
}
.card-deck.toggle-col {
    flex-direction: column;
    margin: 1rem;
}
.card-deck.toggle-row {
    flex-direction: row;
}
.card {
    margin: inherit;
    transition: all 1s 0s;
    border-radius: 10px;
    // min-width: 300px;
    margin: 1rem;
}
.card:hover {
    box-shadow: 0 0 2rem 0.125rem #6f6f6f;
}
.card-body {
    min-height: 500px;
}
.card .card-footer {
    padding: 10px;
}
.day-disp {
    display: flex;
    align-items: center;
}
.day-disp input{
    border-radius: 20px;
}
.arrow-wrap {
    margin: 0px 0px 0px 10px;
    padding: 4px 10px;
    color: #d2d2d2;
    border: 2px #d2d2d2 solid;
    border-radius: 50%;
}
@media screen and (max-width: 768px) {
    .card-deck {
        flex-direction: column;
    }
}

// Task Item Styling:
.styleDiv {
    height: 1rem;
    width: 1rem;
    border-radius: 50%;
    // background: $shade-bg-color;
    border: 0.5px solid $shade-bg-color;
    margin: 0 0.6rem;

    transition: all 0.4s 0s;
}
.styleDiv:hover {
    height: 1rem;
    width: 1rem;
    border-radius: 50%;
    border: 0.5px solid $shade-bg-color;
    margin: 0 0.6rem;

    transition: all 0.4s 0s;
}
.task-item {
    margin: 0.4rem 0px;
    display: flex;
    align-items: center;
    width: 100%;
    height: 2rem;
    border-radius: 5px;
    cursor: pointer;

    transition: all 0.4s 0s;
    border: 0.5px $shade-bg-color solid;
}
.task-item:hover {
    transition: all 0.4s 0s;
    border: 0.5px $blue-color solid;
}
.task-item h6 {
    margin: 0;
}

#view-location {
    margin: 10px 0px;
    height: 400px;
    width: 100%;
}