@import "variables.scss";

// Custom Bootstrap SCSS is prompted below. {main.css folder link follows the bootstrap CDN}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    // overflow-x: hidden;
}
// Navbar positioning is adequate: MOBILE
html,
body {
    // color: #0081ff;
}
.form-inline .form-control {
    width: auto;
}

.navbar {
    padding: 0;
}
.navbar-collapse {
    padding: 1rem 0rem;
}
.form-inline {
    margin: 0 1rem;
}
.navbar-toggler,
.nav-item {
    margin: 0 .5rem;
    // height: 40px;
    align-self: center;
}
.nav-item {
    width: 96vw;
}
.nav-item {
    align-self: start;
    background-color: inherit;
}
.nav-general {
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: 50px;
}
.navbar-nav {
    width: 16rem;
}
.dropdown-item {
    font-size: 1.3rem;
    padding: .25rem .5rem;
    transition: all 0.3s 0s;
}
.dropdown-item h6 {
    font-size: 1.3rem;
}
.dropdown-item:hover {
    transition: all 0.3s 0s;
    color: #007bff;
}
// Google Maps API:
/* Set the size of the div element that contains the map */
#map {
    margin: 10px 0px;
    height: 400px;
    /* The height is 400 pixels */
    width: 100%;
    /* The width is the width of the web page */
}
.lists-header {
    display: flex; 
    align-items: center; 
    justify-content: space-between;
}
.lists-header h6 {
    margin: 5px 0;
}
.fa-plus-square {
    // color: #0081ff;
}
.fa-pen {
    color: #0081ff;
    transition: all 0.4s 0s;
}
.fa-pen:hover {
    color: #28a745;
    transition: all 0.4s 0s;
}
.fa-ban {
    color: #007bff;
    transition: all 0.4s 0s;
}
.fa-ban:hover {
    color: red;
    transition: all 0.4s 0s;
}
.pen-link {
    padding: 1px 5px;
    transition: all 1s 0s ease-in;
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.4s 0s ease-in;
    box-shadow: inset 0px 0px 0px 1rem #fff;
    // Note to self: First box-shadow layer will NEVER TRANSITION.
    // Hence it is more ideal to use the second box-shadow layer to appear. [Always goes inside->out]
}
.pen-link:hover {
    transition: all 0.4s 0s ease-out;
    box-shadow: inset 0px 0px 0px 1rem #d2d2d2, 0 0 0 1px #d2d2d2;
    color: #28a745;
}
.ban-link {
    padding: 1px 5px;
    transition: all 1s 0s ease-in;
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.4s 0s ease-in;
    box-shadow: inset 0px 0px 0px 1rem #fff;
    // Note to self: First box-shadow layer will NEVER TRANSITION.
    // Hence it is more ideal to use the second box-shadow layer to appear. [Always goes inside->out]
}
.ban-link:hover {
    transition: all 0.4s 0s ease-out;
    box-shadow: inset 0px 0px 0px 1rem #d2d2d2, 0 0 0 1px #d2d2d2;
}
.nameListItem {
    display: flex;
    justify-content: space-between;
}
// .nameListItem:hover {
//     color: red;
// }
.fa-trash-alt {
    display: none;
    padding: 5px 6px;
    align-self: center;
    cursor: pointer;
    transition: all 0.4s 0s;
    border-radius: 50%;
    box-shadow: inset 0px 0px 0px 1rem #fff;
}
.fa-trash-alt.parent-hover {
    color: black;
}
.fa-trash-alt.parent-hover:hover {
    transition: all 0.4s 0s;
    box-shadow: inset 0px 0px 0px 1rem #d2d2d2, inset 0px 0px 0px 1px #d2d2d2;
    color: red;
}
@media screen and (max-width: 400px) {
    .form-inline {
        flex-flow: row nowrap;
        justify-content: flex-end;
    }
    .form-inline .form-control {
        width: 100%;
    }
    .btn-outline-success {
        margin: 0 0;
    }
}
@media screen and (max-width: 576px) {
    .navbar-nav {
        width: 100vw;
    }
}
@media screen and (min-width: 992px) {
    .navbar-collapse {
        justify-content: flex-end;
        height: 50px;
    }
    .navbar-nav {
        height: inherit;
    }
    .nav-item {
        width: auto;
    }
}

.task-location {
    z-index: 1000;
}

// Custom JS stylesheets:
.hide {
    display: none;
}
.dropdown-menu.show {
    display: block;
}
.fa-trash-alt.show {
    display: block;
    align-self: center;
}
.dropdown-item.set-text-red {
    color: red;
}